trigger:
- main   # or your branch name

pool:
  name: Default
  demands:
    - Agent.Name -equals chakri

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
