trigger:
- main   # or your branch name

pool:
  name: Default   # uses your self-hosted agent pool
  demands:
    - Agent.Name -equals chakri

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    options: '-Dmaven.test.failure.ignore=false'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
