trigger:
- main   # or your branch name

pool:
  name: Default
  demands:
    - Agent.Name -equals chakri

variables:
  HEADLESS: 'false'  # <-- set to 'false' to run Chrome in headed mode

steps:
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
