trigger:
  - main  # or your branch name

pool:
  name: Default    # your agent pool name
  demands:
    - agent.name -equals chakri  # your self-hosted agent

steps:
  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean compile exec:java'
      options: '-Dexec.mainClass="com.example.App"'
      mavenOptions: '-Xmx1024m'
      publishJUnitResults: false

